@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans');
@import 'nav.scss';
@import 'post.scss';

#container {
  margin: auto 10%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: normal;
}

p, blockquote {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  & img {
    height: 150px;
  }
}

.content {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  align-content: stretch;
  flex-direction: column;
  font-size: 1.1em;
  text-align: center;
}

// .nav ul {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   list-style: none;
//   padding: 0;
// }
//
// .nav a {
//   text-decoration: none;
// }
